*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:darkgray;
}

.headerPage{
    width: 100%;
    height: 50px;
    color: white;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 10px;
    margin-bottom: 15px;
}

.container{
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.addUser{
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    display: flex;
    gap: 2px;
}

.form-control{
    width: auto;
    background-color: lightgray;
}

.btn-primary{
    background-color: darkcyan;
    border: none;
    margin-left: 10px;
}

.listItem{
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

